<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>537626217232-cpvhgc907osvpeu3nq9eie56l7q8r1ml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.537626217232-cpvhgc907osvpeu3nq9eie56l7q8r1ml</string>
	<key>API_KEY</key>
	<string>AIzaSyCb2rRahObLQMcmkPgvSc2hWCjm2Yby24s</string>
	<key>GCM_SENDER_ID</key>
	<string>537626217232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreiolteanu.FriendsFinder</string>
	<key>PROJECT_ID</key>
	<string>friendsfinder-70535</string>
	<key>STORAGE_BUCKET</key>
	<string>friendsfinder-70535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:537626217232:ios:10be38599f09a21a</string>
	<key>DATABASE_URL</key>
	<string>https://friendsfinder-70535.firebaseio.com</string>
</dict>
</plist>