<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1042898458762-4v94hkrf4si25u8n0fo25sg623fnv5m8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042898458762-4v94hkrf4si25u8n0fo25sg623fnv5m8</string>
	<key>API_KEY</key>
	<string>AIzaSyBJSEL3OO-7hAVTjyq5h2Im_d7fefc09-4</string>
	<key>GCM_SENDER_ID</key>
	<string>1042898458762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andreiolteanu.FirendsFinder</string>
	<key>PROJECT_ID</key>
	<string>friendsfinder-45647</string>
	<key>STORAGE_BUCKET</key>
	<string>friendsfinder-45647.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042898458762:ios:4eda0718c8d4b2cd</string>
	<key>DATABASE_URL</key>
	<string>https://friendsfinder-45647.firebaseio.com</string>
</dict>
</plist>
